<div class="container">
  <div class="cert-container">
    <div class="name">
      Aplicando TDD e padrões de <br />testes no desenvolvimento <br />
      de aplicativos Android
    </div>
    <div>
      <img class="img" src="../../../../assets/img/TDD-Android.png" alt="TDD" />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/ABE9E6EF"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">
      Desenvolvimento integrado <br />de dados com SQLite <br />no Android
    </div>
    <div>
      <img
        class="img1"
        src="../../../../assets/img/Sql-Android.png"
        alt="sql"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/68CC0F19"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">
      Melhores práticas <br />para debugging, tratamento de <br />erros e
      exceções
    </div>
    <div>
      <img
        class="img2"
        src="../../../../assets/img/praticas-debug.png"
        alt="debug"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/845D16D1"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">
      Aplicando conceitos de Coleções, <br />Arrays e Lista
    </div>
    <div>
      <img class="img3" src="../../../../assets/img/arrays.png" alt="array" />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/2535A87F"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">Avanade Angular Developer</div>
    <div>
      <img
        class="img4"
        src="../../../../assets/img/angular-dev.png"
        alt="angular"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/8CF7F39D"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">
      Conceitos avançados <br />de performance e <br />otimização usando Angular
    </div>
    <div>
      <img
        class="img5"
        src="../../../../assets/img/perf-angular.png"
        alt="angular"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/6F16AF08"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">
      Implementando testes <br />automatizados usando Cypress
    </div>
    <div>
      <img
        class="img6"
        src="../../../../assets/img/cypress.png"
        alt="cypress"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/32226EB7"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">Desenvolvendo SPA com Angular</div>
    <div>
      <img class="img7" src="../../../../assets/img/spa.png" alt="angular" />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/9BFE4A62"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">Técnicas avançadas em Angular</div>
    <div>
      <img
        class="img8"
        src="../../../../assets/img/angular8.png"
        alt="angular"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/09489CF5"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">
      Introdução a arquitetura <br />da plataforma Android com Kotlin
    </div>
    <div>
      <img
        class="img9"
        src="../../../../assets/img/android-kotlin.png"
        alt="kotlin"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/BC927C48"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>

  <div class="cert-container">
    <div class="name">Introdução ao Angular</div>
    <div>
      <img
        class="img10"
        src="../../../../assets/img/intro-angular.png"
        alt="angular"
      />
    </div>
    <a
      class="view"
      href="https://certificates.digitalinnovation.one/D0C28EF6"
      target="_blank"
    >
      <div class="view">Visualizar</div>
    </a>
  </div>
</div>
