<div class="container">
  <div class="skill-container">
    <div class="skill-text">
      Java
      <div class="skill-bar">
        <div class="skills java">48%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Kotlin
      <div class="skill-bar">
        <div class="skills kotlin">33%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      HTML
      <div class="skill-bar">
        <div class="skills html">88%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      CSS
      <div class="skill-bar">
        <div class="skills css">73%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      JavaScript
      <div class="skill-bar">
        <div class="skills javascript">75%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      TypeScript
      <div class="skill-bar">
        <div class="skills javascript">55%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      React
      <div class="skill-bar">
        <div class="skills react">58%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Scrum
      <div class="skill-bar">
        <div class="skills react">72%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Git
      <div class="skill-bar">
        <div class="skills react">70%</div>
      </div>
    </div>
  </div>

  <div class="skill-container">
    <div class="skill-text">
      Angular
      <div class="skill-bar">
        <div class="skills angular">67%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Arquitetura de Sistemas
      <div class="skill-bar">
        <div class="skills arquitetura">72%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Node.js
      <div class="skill-bar">
        <div class="skills node">55%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Lógica de Programação
      <div class="skill-bar">
        <div class="skills logica">87%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Estrutura de dados
      <div class="skill-bar">
        <div class="skills estrutura">70%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Engenharia de Software
      <div class="skill-bar">
        <div class="skills engenharia">73%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Jira
      <div class="skill-bar">
        <div class="skills engenharia">77%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="skill-text">
      Testes Unitátios (Jasmine)
      <div class="skill-bar">
        <div class="skills engenharia">57%</div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
  </div>
</div>
