<mat-tab-group dynamicHeight animationDuration="1500ms" mat-align-tabs="center">
  <mat-tab label="Sobre">
    <div class="modal large-box mat-elevation-z4">
      <port-about></port-about>
    </div>
  </mat-tab>

  <mat-tab label="Experiêcnia">
    <div class="modal large-box mat-elevation-z4">
      <port-experience></port-experience>
    </div>
  </mat-tab>

  <mat-tab label="Projetos">
    <div class="modal large-box mat-elevation-z4">Projetos</div>
  </mat-tab>

  <mat-tab label="Conhecimento">
    <div class="modal large-box mat-elevation-z4">Conhecimento</div>
  </mat-tab>

  <mat-tab label="Educação">
    <div class="modal large-box mat-elevation-z4">Sobre</div>
  </mat-tab>

  <mat-tab label="Certificados">
    <div class="modal large-box mat-elevation-z4">Certificados</div>
  </mat-tab>

  <mat-tab label="Contato">
    <div class="modal large-box mat-elevation-z4">Sobre</div>
  </mat-tab>
</mat-tab-group>
