<div class="about-container">
  <div class="about-info">
    <p class="about-title">Sobre</p>
    <div class="about-text">
      Quando ganhei meu primeiro computador, foi o momento <br />que traçou o
      meu caminho para começar a atuar <br />na área de TI. <br /><br />Após
      entrar na faculdade de Sistemas de Informação, <br />descobri que a área
      de Desenvolvimento era o que <br />eu queria para minha carreira
      profissional. <br /><br />Desde então venho estudando, me aperfeiçoando<br />
      e acompanhando a evolução de TI. <br /><br />Para saber mais sobre mim,
      continue navegando pelo site.
    </div>
  </div>
  <div class="about-info">
    <div class="info-title">Informação Básica</div>
    <div class="info-container">
      <div class="info-left">
        <div class="birth-title">Nascimento:</div>
        <div class="mail-title">E-mail:</div>
        <div class="cel-info">Celular:</div>
        <div class="adress-info">Endereço:</div>
        <div class="lang-info">Idiomas:</div>
      </div>
      <div class="info-right">
        <div class="birth-date">25/12/1985</div>
        <div class="mail-text">calintz1@hotmail.com</div>
        <div class="cel-text">(19) 9.9191-8921</div>
        <div class="adress-text">R. dos Tapuias, Jd. Fátima - Araras/SP</div>
        <div class="lang-text">Português Nativo, Inglês Intermediário</div>
      </div>
    </div>
  </div>
</div>
