<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
  crossorigin="anonymous"
/>

<div class="header-container">
  <div class="header">
    <div class="name-port-container">Portfólio</div>
    <div class="port-text">de</div>
    <div class="name-container">Ivan Lopes Alonso</div>
    <div class="img-container pulse">
      <img src="assets/img/foto.jpg" alt="" />
    </div>
  </div>
  <div class="contact">
    <div class="medias">
      <div class="linkedin-button">
        <a
          href="https://www.linkedin.com/in/ivan-lopes-135b8b1a/"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
      <div class="github-button">
        <a href="https://github.com/IvanLopesGit" target="_blank"
          ><i class="fab fa-github"></i>
        </a>
      </div>
      <div class="email-button">
        <a href="mailto:calintz1@hotmail.com"
          ><i class="far fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</div>
