<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
  crossorigin="anonymous"
/>

<div class="container">
  <div class="contact-container">
    <div class="email">E-Mail:</div>
    <div class="phone">Telefone:</div>
    <div class="linkedin">LinkedIn:</div>
  </div>

  <div class="contact-container">
    <div class="email-text">
      <a href="mailto:calintz1@hotmail.com">Enviar E-mail</a>
    </div>
    <div class="phone-text">
      <i class="fab fa-whatsapp"></i> (19) 9.9191-8921
    </div>
    <div class="linkedin-text">
      <a href="https://www.linkedin.com/in/ivan-lopes-135b8b1a/" target="_blank"
        >LinkedIn</a
      >
    </div>
  </div>
</div>
