<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div class="xp-container">
    <div class="xp-info">
      <div class="info-left">
        <div class="title-text">Ciretran</div>
        <div class="role-text">Responsável CPD (02/2014 - 08/2015)</div>
        <div class="about-comp-text">
          Ciretran, é órgão do DETRAN nos municípios do interior <br />dos
          estados, tem a responsabilidade de exigir e impor a <br />obediência e
          o devido cumprimento da legislação <br />de trânsito no âmbito de sua
          jurisdição.
        </div>
      </div>
    </div>
    <div class="xp-info">
      <div class="info-right">
        <div class="title-text">Atribuições</div>
        <div class="role">
          • Controle, manutenção e suporte servidores CPD.
          <br />• Suporte a Usuários. <br />• Suporte Sistema do Banco. <br />•
          Suporte Sistema de Provas. <br />• Manutenção de equipamentos em
          geral. <br />• Suporte aos Gerentes da unidade. <br />• Controle de
          estoque de itens utilizados na unidade.
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="xp-container">
    <div class="xp-info">
      <div class="info-left">
        <div class="title-text">Luxfacta Soluções de TI</div>
        <div class="role-text">
          Desenvolvedor Java Web <br />e Analista de Software (03/2012 -
          09/2013)
        </div>
        <div class="about-comp-text">
          A Luxfacta é uma fábrica de software com quase <br />2 décadas de
          história no desenvolvimento de <br />produtos digitais. Trabalhamos
          com os mais complexos <br />
          projetos nos mais diversos setores da economia, <br />de forma ágil e
          com alta qualidade.
        </div>
      </div>
    </div>
    <div class="xp-info">
      <div class="info-right">
        <div class="title-text">Atribuições</div>
        <div class="role">
          <br />• Levantamento e análise dos requisitos do sistema. <br />•
          Mapas de Navegação, Diagrama de Atividades, <br />Classes, Estado e
          Sequência.<br />
          • Prototipação de interface com wireframes.<br />
          • Atuando junto com o Product Owner.<br />
          • Desenvolvimento de Planos de Validação <br />e apoio a equipe de
          teste.<br />
          • Desenvolvimento e manutenção de softwares.
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
