.container {
  padding-top: 610px;
}

.xp-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border-radius: 15px 15px;
  box-shadow: 1px 1px 7px 7px rgba(94, 94, 94, 0.15);
  height: 270px;
  width: 920px;
  font-family: "Aladin";
}

.divider {
  margin-top: 10px;
  padding-top: 25px;
  border-top-color: #3b3b3b;
}

.xp-info {
  display: flex;
  flex-direction: column;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-text {
  font-size: 32px;
  padding-bottom: 20px;
}

.role-text {
  font-size: 24px;
  padding-bottom: 12px;
}

.about-comp-text {
  font-size: 20px;
}

.role {
  font-size: 20px;
}

.example-viewport {
  height: 300px;
  width: 1000px;
}
