<div class="container">
  <div class="project-container">
    <div class="img-container">
      <div class="project-text">Mario Rossi Band</div>
      <a href="https://mariorossiband.vercel.app/" target="_blank">
        <img
          src="../../../../assets/img/mariorossi.png"
          alt="Mario Rossi Band"
          class="img"
        />
        <div class="middle">
          <div class="img-text">Entrar</div>
        </div>
      </a>
    </div>

    <div class="img-container">
      <div class="project-text">PlayScore Teste</div>
      <a href="https://playscore.vercel.app/" target="_blank">
        <img
          src="../../../../assets/img/playscore.png"
          alt="PlayScore"
          class="img"
        />
        <div class="middle">
          <div class="img-text">Entrar</div>
        </div>
      </a>
    </div>

    <div class="img-container">
      <div class="project-text">Zuper</div>
      <a href="https://zuper.vercel.app/" target="_blank">
        <img src="../../../../assets/img/zuper.png" alt="Zuper" class="img" />
        <div class="middle">
          <div class="img-text">Entrar</div>
        </div>
      </a>
    </div>
  </div>
</div>

<mat-divider class="divider"></mat-divider>

<div class="container1">
  <div class="project-container">
    <div class="img-container">
      <div class="project-text">Tinder Clone</div>
      <a href="https://tinderclone.vercel.app/" target="_blank">
        <img
          src="../../../../assets/img/tinder.png"
          alt="Tinder Clone"
          class="img"
        />
        <div class="middle">
          <div class="img-text">Entrar</div>
        </div>
      </a>
    </div>

    <div class="img-container">
      <div class="project-text">Clima & Tempo</div>
      <a href="https://angular-weather.vercel.app/" target="_blank">
        <img
          src="../../../../assets/img/climatempo.png"
          alt="Clima & Tempo"
          class="img"
        />
        <div class="middle">
          <div class="img-text">Entrar</div>
        </div>
      </a>
    </div>

    <div class="img-container">
      <div class="project-text">Netflix Clone(Game)</div>
      <a href="https://netflix-tela-inicial-clone.vercel.app/" target="_blank">
        <img
          src="../../../../assets/img/cloneflix.png"
          alt="Netflix Clone(Game)"
          class="img"
        />
        <div class="middle">
          <div class="img-text">Entrar</div>
        </div>
      </a>
    </div>
  </div>
</div>
