<div >
  <div class="container">
    <div class="left-container">
      <div class="education">Fundação Herminio Ometto - FHO</div>
    </div>
    <div class="right-container">
      <div class="course">Sistemas de Informação</div>
      <div>(2009 / 2012)</div>
    </div>
  </div>

  <mat-divider class="divider"></mat-divider>

  <div class="container">
    <div class="left-container">
      <div class="education">Formação em Dados da Lojas Renner/CESAR School</div>
    </div>
    <div class="right-container">
      <div class="course">Formação em Dados</div>
      <div>(21/03/22 / 19/05/22)</div>
    </div>
  </div>
</div>
